#include "resource.h"

IDI_APP_ICON ICON "icon.ico"

IDR_BACKGROUND_PNG      RCDATA "background.png"
IDR_PROTRACKER_TTF      RCDATA "protracker.ttf"
IDR_MOUSECURSOR_PNG     RCDATA "PT-mousecursor.png"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "hyperunknown"
            VALUE "FileDescription",  "Hyperplayer MOD Player"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "hyperplayer_v1"
            VALUE "OriginalFilename", "hyperplayer_v1.exe"
            VALUE "ProductName",      "Hyperplayer"
            VALUE "ProductVersion",   "1.0.0.0"
            VALUE "LegalCopyright",   "(C) 2026 hyperunknown"
            VALUE "Comments",         "ProTracker-style MOD player"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
